<% provide(:title, "ホーム") %>
  <div class="center jumbotron">
  <div>
    <h1>勤怠システム</h1>

      <P><%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %></P>
    
      <small>

       アカウント作成は<%= link_to "こちら",signup_path %>
      </small>

  </div>

  <body>
  </body>
